# Xcode
xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
build/

# Tuist generated
AIQuizlet.xcodeproj
AIQuizlet.xcworkspace
Derived/

# SPM
.build/
.swiftpm/
Tuist/.build/

# macOS
.DS_Store

# Secrets
GoogleService-Info.plist
**/Secrets.swift
Secrets.swift
