# Xcode
xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
build/

# Geko generated
AIQuizlet.xcodeproj
AIQuizlet.xcworkspace
Derived/
.geko/
Geko/Dependencies/

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Secrets
GoogleService-Info.plist
Secrets.swift

.setup.sh
.install.sh